<div class="tab-bar text-light background-rojo p-3">
    <div class="tab-button d-flex align-items-center" (click)="redirectToNinots()">
        <i class="bi bi-person-fill me-2" style="font-size: 1.5rem;"></i>
        <span>Ninots</span>
    </div>
    <div class="tab-button d-flex align-items-center" (click)="scannerEnabled.emit({type: 'scanner', mode: true})">
        <i class="bi bi-qr-code-scan me-2" style="font-size: 1.5rem;"></i>
        <span>Escanear QR</span>
    </div>
    <div class="tab-button d-flex align-items-center" (click)="scannerEnabled.emit({type: 'audio', mode: true})">
        <i class="bi bi-volume-up-fill me-2" style="font-size: 1.5rem;"></i>
        <span>Modo audio</span>
    </div>
</div>