<div class="container">
  <form [formGroup]="ninotForm" (ngSubmit)="saveNinot()">
    <div class="form-group">
      <label for="lema">Lema</label>
      <input type="text" id="lema" class="form-control" formControlName="lema">
    </div>

    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
    </div>

    <div class="form-group">
      <label for="categoria">Categoría</label>
      <select class="form-control" id="categoria" formControlName="categoria">
        @for (categoria of categorias; track $index) {
          <option [value]="categoria">{{categoria}}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label for="asociacion">Asociación</label>
      <select class="form-control" id="asociacion" formControlName="asociacion" (change)="handleAsociacion($event)">
        @for (asociacion of asociaciones; track $index) {
          <option [value]="asociacion.nombre">{{asociacion.nombre}}</option>
        }
      </select>
    </div>

    <div class="form-group">
      <label for="artista">Artista</label>
      <input type="text" id="artista" class="form-control" formControlName="artista">
    </div>

    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" id="id" class="form-control" formControlName="id">
    </div>

    <div class="form-group">
      <label for="tipo">Tipo</label>
      <input type="number" id="tipo" class="form-control" formControlName="tipo">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!ninotForm.valid">Crear</button>
  </form>
  <button class="btn btn-secondary" (click)="editNinot(ninotForm.get('id')!.value)">Editar</button>
</div>