@if (loading) {
<app-spinner [fullscreen]="true"></app-spinner>
} @else {
<div class="container">
    <div class="d-flex justify-content-between m-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="toggleFormCheckbox" [(ngModel)]="showNinotsForm">
            <label class="form-check-label" for="toggleFormCheckbox">
                {{ showNinotsForm ? 'Formulario tipos de ninots' : 'Formulario ninots' }}
            </label>
        </div>
        <div class="dropdown">
            <button class="excel-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi bi-gear-fill" style="font-size: 1rem;">
                    <span style="font-style: normal;">
                        Opciones
                    </span>
                </i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" (click)="downloadExcelTemplate()"><i
                            class="bi bi-filetype-xlsx me-2"></i>Descargar plantilla</a></li>
                <li><a class="dropdown-item" (click)="downloadExcelTemplate(true)"><i
                            class="bi bi-filetype-xlsx me-2"></i>Descargar plantilla llena</a></li>
                <li><a class="dropdown-item" (click)="openUploadDialog()"><i
                            class="bi bi-cloud-arrow-up-fill me-2"></i>Subir Excel</a></li>
                <li><a class="dropdown-item" (click)="uploadBocetosInputRef.click()"><i
                            class="bi bi-cloud-arrow-up-fill me-2"></i>Subir bocetos</a></li>
                <li><a class="dropdown-item" (click)="generarQR()"><i class="bi bi-qr-code-scan me-2"></i>Generar
                        QR's</a></li>
            </ul>
        </div>
        <input type="file" (change)="onFileChange($event)" style="display: none;" #uploadExcel />
        <input type="file" #uploadBocetosInputRef style="display:none" multiple (change)="uploadBocetos($event)" />
    </div>
    <div class="form-container">
        @if (showNinotsForm) {
        <app-formulario-ninots></app-formulario-ninots>
        } @else {
        <app-formulario-tipo-ninot></app-formulario-tipo-ninot>
        }
    </div>
</div>
}