<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="toggleFormCheckbox" [(ngModel)]="showNinotsForm">
    <label class="form-check-label" for="toggleFormCheckbox">
        {{ showNinotsForm ? 'Formulario tipos de ninots' : 'Formulario ninots' }}
    </label>
</div>

@if (showNinotsForm) {
    <app-formulario-ninots></app-formulario-ninots>
} @else {
    <app-formulario-tipo-ninot></app-formulario-tipo-ninot>
}

<button class="btn btn-primary" (click)="generarQR()">Generar QR's</button>