.ninot-container {
    height: calc(100% - 160px);
    overflow-y: auto;
}

.btn-listen {
    position: absolute;
    top: 13px;
    right: 16px;
  }

.btn-admin{
    position: absolute;
    top: 20px;
    right: 50px;
}