@import "../../../variables.scss";
.container {
    height: calc(100% - 136px);
}

.ninots-container {
    height: calc(100% - 110px);
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

::placeholder {
    color: $naranja;
}

.excel-btn {
    background: none;
}

.btn-selected {
    background-color: $salmon !important;
    color: white;
}