.container {
    height: calc(100% - 114px);
}

.ninots-container {
    height: calc(100% - 54px);
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}