<div class="container">
    <h2 class="mb-2">Listado de ninots expuestos</h2>
    @if (!loading) {
        <div class="ninots-container">
            @for (ninot of ninots; track $index) {
                <div class="card w-100 my-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ ninot.asociacion }}</h5>
                        <p class="card-text">{{ ninot.artista }}</p>
                        <button class="btn btn-primary" (click)="viewNinot(ninot)">Ver datos</button>
                    </div>
                </div>
            }
        </div>
    }
</div>
