<div class="container">
    <div class="btn-group" role="group" aria-label="Tipo de Ninot">
        @for (tipo of tiposNinots; track $index) {
            <button type="button" class="btn btn-secondary" 
                    [class.active]="tipo.id === selectedTipoNinot" 
                    (click)="updateFilteredNinots(tipo.id)">{{ tipo.tipo }}</button>
        }
    </div>
    <div class="input-group my-3 w-auto border-rojo text-naranja">
        <span class="input-group-text border-rojo text-naranja" id="basic-addon1">
            <i class="bi bi-person-circle"></i>
        </span>
        <input type="text" class="form-control  border-rojo text-naranja" [(ngModel)]="searchTerm" placeholder="Búsqueda por asociación" (input)="filterNinots()">
    </div>
    @if (!loading) {
        <div class="ninots-container">
            @for (ninot of showNinots; track $index) {
                <div class="card w-100 my-1 border-salmon" (click)="viewNinot(ninot)">
                    <div class="d-flex align-items-center p-1">
                        <span class="h2 m-0 pe-2 text-rojo">
                            {{ ninot.order }}
                        </span>
                        <span class="h5 m-0 ps-2 text-naranja">
                            {{ ninot.asociacion }}
                        </span>
                    </div>
                </div>
            }
        </div>
    }
</div>
